body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    font-family: Arial;
}

.quiz-container {
    background: #fff;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 15px;
}

.options {
    margin-bottom: 20px;
}

.option {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #444;
}
